
 /* Under: Basic body, tester ut styling */ 


body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #container{
    width:960px;
  }

 /*Tester å dele opp delene i klasser ala under, for å få likt som assignment sier*/ 
 
  .left {
  position: relative;
  width: 100%;
  float:left;
  height: 100px;
  }

  .middle {
  position: relative;
  width: 200px;
  float:left;
  min-height: 500px;
  }

  .right {
  position: relative;
  width: 760px;
  float: left;
  min-height: 500px;
  }

  .underneath {
  position: relative; 
  width: 760px;
  float: left;
  min-height: 500px;
  }


   /* Bruker ID for å definere bank-delen */ 

  #banksection{
    position: relative;
    width: 20%;
    border: 6px solid rgba(0, 0, 0, .2);
    height: 200px;
    float: left; 
  } 
  #banksection:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  #content1 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #loan {
    background-color: #FF00FF;
    color: #000000;
 }


   /* Bruker ID for å definere work-delen */ 

 #worksection{
    position: relative;
    width: 20%;
    border: 6px solid rgba(0, 0, 0, .2);
    height: 200px;
    float: left; 
  } 
  #worksection:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  #content2 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #bank {
    background-color: #FF00FF;
    color: #000000;
 }

 #work {
    background-color: #FF00FF;
    color: #000000;
 }

 .clearfix{
    clear:both; 
 }




 /* Under: knappen */ 

 .repayloan-button-hide {
  background-color: #FF00FF;
  color: #000000;
  display: block; 
  }
 

 .repayloan-button-hide {
  background-color: #FF00FF;
  color: #000000;
  display: none;
 }



